.f-container{
    justify-content: space-around;
    
}
.f-wrapper{
    padding-top: 15px ;
    background: #336B87;
    padding-bottom: 15px;
    
   

}

.socials{
    float: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px 5px 5px;
    bottom: 0;

}

.socials img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    
}
.socials img:hover{
    transform: scale(1.5);
}
@media (max-width: 768px){
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center!important;
        text-align: center;
    }
}
