:root {
  --primary: #336B87;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: #336B87;
  --blue-gradient: linear-gradient(97.05deg, #e0aab2 3.76%, #dc1430 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #336B87;
  --lightBlue: #bfd9e7;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  transition: ease-in-out;
}
a {
  color: inherit;
  text-decoration: none;
}
.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  color: #336B87;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}


.secondaryText {
  color: gray;
  font-size: 1.5rem;
  line-height: 1.5;
}
.secondarytext{
  color: white;
  font-size: 1rem;
  line-height: 1;
}

.heroText{
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: var(--shadow);

}
.button{
  font-weight: 300;
  font-size: 1rem;
  padding: 0.6rem 1.4rem;
  color: white;
  background: #DC143C;
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
}
.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }
  .orangeText {
    font-size: 1.2rem;
  }
}

section{
  padding-top: 70px;
}
/* Publications Grid */
.publications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Publication Card */
.publication-card {
  text-decoration: none;
  color: inherit;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.publication-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  background: var(--primary);

}
.publication-card:hover .primaryText,
.publication-card:hover .secondaryText {
  color: white; /* Ensure all text turns white on hover */
}


/* Card Image */
.card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 10%;
}


/* Physical Location Section */
.physical-location-container {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 4px;
}
.physical-location-container iframe{
  border-radius: 4px;
}

.physical-location-container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--blue);
}
/* For smooth loading effect */
.lazy-loading {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lazy-loaded {
  opacity: 1;
}

/* Optional placeholder styling */
img[src=""] {
  background: #f5f5f5;
  min-height: 200px; /* Adjust based on your typical image height */
}